<!-- Optional additional links to insert for icons links -->

<a
  id="subscribe-link"
  class="icon"
  title="Subscribe"
  aria-label="Subscribe"
  href="https://github.com/PAASTA-community"
>
  {% include svg/github.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="Subscribe"
  aria-label="Subscribe"
  href="https://PAASTA-community.slack.com"
>
  {% include svg/slack.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="Twitter"
  aria-label="Twitter"
  href="https://twitter.com/PAASTAcommunity"
>
  {% include svg/twitter.svg %}
</a>




